<!DOCTYPE html>
<html decorate="layouts/defaultTemplate">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div th:replace="layouts/commonHeader :: header">My header will go here.</div>

<section layout:fragment="content">
<p>Replace this with a page that has layout:fragment="content"</p>
</section>

<div th:replace="layouts/commonFooter :: footer">My footer will go here.</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>

</html>